<div class="sidebar">

    <div class="header">
        <h1>BrainBox</h1>

        <button (click)="nouvelleDiscussion()">
            +
        </button>
    </div>

    <div class="discussions">

        <h2>Discussions</h2>

        <div 
            class="discussion"
            *ngFor="let discussion of discussions">

            <span
                (click)="selectionnerDiscussion(discussion)">
                {{discussion.titre}}
            </span>

            <button
                class="menu-button"
                (click)="ouvrirMenu($event,discussion)">
                ...
            </button>

            <div 
                class="menu"
                *ngIf="menuOuvert === discussion"
                (click)="$event.stopPropagation()">

               <button
                    type="button"
                    (click)="supprimerDiscussion($event,discussion)">
                    Supprimer
                </button>

            </div>

        </div>

    </div>

    <div class="footer">
        ⚙ Paramètres
    </div>

</div>